<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<th:block th:replace="commons/fragments/admin/head :: headFragment"></th:block>
	</head>
	<body>
		
			<th:block th:replace="commons/fragments/admin/header :: headerFragment"></th:block>
			<th:block layout:fragment="content"></th:block>
			<th:block th:replace="commons/fragments/admin/footer :: footerFragment"></th:block>
			<th:block th:replace="commons/fragments/admin/script :: scriptFragment"></th:block>
		
	</body>
</html>