<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
	
	<head>
		<title>Mini Campus - 회원 정보 수정</title>
		
		<script>
			$(document).ready(function () {
				
				$('form').on('submit', function () {
					let password = $(this).find('input[id=password]').val();
					let rePassword = $(this).find('input[id=rePassword]').val();
					
					if (password != rePassword) {
						alert('비밀번호가 같지 않습니다. 다시 한번 확인해주세요.');
						return false;
					}
				});
				
				$('#submitBtn').on('click', function () {
					
					$('form').find('input:disabled').each(function (index, item) {
						$(item).prop('disabled', false);
						// $(item).removeProp('disabled');
					});
					
					
				});
				
			});
		</script>
	</head>
	
	
	
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<h1>회원 정보 수정</h1>
		</div>
		<div class="container-fluid">
			<form action="/member/edit" method="post" >
				<fieldset>
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">이메일</label>
						<div class="col-sm-10">
							<input type="email" disabled class="form-control-plaintext" id="email"
							       th:value="${info.id}" name="email">
						</div>
						<label for="name" class="col-sm-2 col-form-label">이름</label>
						<div class="col-sm-10">
							<input type="text" disabled class="form-control-plaintext" id="name"
							       th:value="${info.name}" >
						</div>
						<label for="phone" class="col-sm-2 col-form-label">연락처</label>
						<div class="col-sm-10">
							<input type="tel" disabled class="form-control-plaintext" id="phone"
							       th:value="${info.phone}">
						</div>
						<div class="col-sm-10">
							<input type="password" class="form-control-plaintext" id="password">
						</div>
						<div class="col-sm-10">
							<input type="password" class="form-control-plaintext" id="rePassword">
						</div>
						<div>
							<button id="submitBtn" class="btn btn-secondary my-2 my-sm-0" type="button">회원정보 수정</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</th:block>
</html>