<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
	<head>
		<title>Mini Campus - 비밀번호 초기화</title>
	</head>
	
	<th:block layout:fragment="content">
		
		<head>
			<script>
				$(document).ready(function () {
					
					$('form').on('submit', function () {
						let password = $(this).find('input[name=password]').val();
						let rePassword = $(this).find('input[name=rePassword]').val();
						
						if (password != rePassword) {
							alert('비밀번호가 같지 않습니다. 다시 한번 확인해주세요.');
							return false;
						}
					});
					
				});
			</script>
		</head>
		<form class="container-fluid" method="post" th:object="${request}">
			<fieldset>
				<legend>비밀번호 변경</legend>
				
				<div class="form-group">
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="floatingInput" th:field="*{password}" name ="password" placeholder="비밀번호 입력" required>
						<label for="floatingInput">Password</label>
						<small class="form-text field-error-message" style="color: red" th:errors="*{password}">오류메시지</small>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="floatingPassword" name="rePassword" placeholder="비밀번호 확인" required>
						<label for="floatingPassword">Check Password</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 32px">
					<button type="submit" class="btn btn-success">비밀번호 변경</button>
				</div>
				
			</fieldset>
		
		</form>
	</th:block>
</html>