<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<th:block th:fragment="headerFragment">
			<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/admin/main.do">MINI CAMPUS - 관리자</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarColor02">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" href="/admin/main.do">Home
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/member/list.do">회원 관리</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/category/list.do">카테고리 관리</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/course/list.do">강의 관리</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/takecourse/list.do">수강 관리</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/banner/list.do">배너 관리</a>
							</li>
						</ul>
						<div class="d-flex">
							<ul class="navbar-nav me-auto">
								<li sec:authorize="isAuthenticated()" class="nav-item" >
									<a class="nav-link" href="/member/logout">로그아웃</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
	
	</th:block>
</html>