<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/admin_layout}">
	
	<th:block layout:fragment="content">
		
		<div class="container-fluid">
			<h1>회원 목록</h1>
		</div>
		<div class="container-fluid">
			<div style="float: right; margin-bottom: 5px">
				<form class="d-flex" style="width: 600px">
					<select class="form-select" name="searchType" style="width: 30%;">
						<option th:selected="${#strings.equals(searchInput.searchType,'email')}" value="email">
							이메일
						</option>
						<option th:selected="${#strings.equals(searchInput.searchType,'name')}" value="name">
							이름
						</option>
						<option th:selected="${#strings.equals(searchInput.searchType,'phone')}" value="phone">
							연락처
						</option>
					</select>
					<input class="form-control me-sm-2" type="search" th:value="${searchInput.searchValue}"
					       name="searchValue" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit" style="width: 90px;">검색</button>
				
				</form>
			</div>
		</div>
		<div class="container-fluid">
			<table class="table table-hover member-list">
				<thead>
					<tr class="table-success">
						<th scope="col">번호</th>
						<th scope="col">이메일</th>
						<th scope="col">이름</th>
						<th scope="col">연락처</th>
						<th scope="col">가입일</th>
						<th scope="col">마지막 로그인 일시</th>
						<th scope="col">권한</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="member : ${members}">
						<th scope="row" th:text="${memberStat.count+ 10 * page.curNum}">Default</th>
						<td><a th:href="@{/admin/member/detail.do(id=${member.id})}" th:text="${member.id}"> 이메일 </a></td>
						<td th:text="${member.name}">이름</td>
						<td th:text="${member.phone}">연락처</td>
						<td th:text="${member.registeredAt}">가입일</td>
						<td th:text="${member.lastLoginAt}">마지막 로그인 일시</td>
						<td th:text="${member.role}">권한</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="container-fluid">
			<ul class="pagination" style="width: 100%; justify-content: center">
					<li class="page-item">
						<a class="page-link" th:href="@{/admin/member/list.do(page=0 ,searchType=${searchInput.searchType},searchVaue=${searchInput.searchValue})}">&laquo;</a>
					</li>
					<li class="page-item" th:classappend="${page.first} ? 'disabled'">
						<a class="page-link" th:href="${page.first} ? '#' : @{/admin/member/list.do(page=${page.curNum}-1 ,searchType=${searchInput.searchType},searchVaue=${searchInput.searchValue})}">&lt;</a>
					</li>
					
					<li class="page-item" th:each="index : ${#numbers.sequence(page.start,page.end)}"
					    th:classappend="${index == (page.curNum + 1)} ? 'active'">
						<a class="page-link" th:text="${index}"
						   th:href="@{/admin/member/list.do(page=${index}-1
						,searchType=${searchInput.searchType}
						,searchValue=${searchInput.searchValue})}">index</a>
					</li>
					
					<li class="page-item" th:classappend="${page.last} ? 'disabled'">
						<a class="page-link" th:href="${page.last} ? '#' : @{/admin/member/list.do(page=${page.curNum}+1 ,searchType=${searchInput.searchType},searchVaue=${searchInput.searchValue})}">&gt;</a>
					</li>
					<li class="page-item">
						<a class="page-link" th:href="@{/admin/member/list.do(page=${page.totalPages}-1 ,searchType=${searchInput.searchType},searchVaue=${searchInput.searchValue})}">&raquo;</a>
					</li>
			
			</ul>
		</div>
	</th:block>
</html>